{% extends 'base.html.twig' %}

{% block title %}Modification Entree{% endblock %}

{% block pageTitle %}
    Modification entrée
{% endblock %}

{% block body %}

    <a class="btn btn-secondary offset-10" href="{{ path('app_entree_index') }}">retour à la liste</a>
    
    <div class="col-6 mx-auto">
        {{ include('entree/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('entree/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
