{% extends 'base.html.twig' %}

{% block title %}Modification du Produit{% endblock %}
{% block pageTitle %}
    Modification du produit
{% endblock %}
{% block body %}
    <a class="btn btn-secondary offset-10" href="{{ path('app_produit_index') }}">retour à la liste</a>
    <div class="col-6 mx-auto">
        {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('produit/_delete_form.html.twig') }}
    </div>
{% endblock %}
