<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('voulez-vous supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="mt-2 btn btn-danger w-100">Supprimer</button>
</form>
